
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dashboard</h2>
<div class="alert alert-info">
    Merhaba, <strong>@Session["username"].ToString()</strong>, yönetim paneline hoşgeldiniz.
</div>

